/* 공통스타일링 */
.innerWrapper {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.homeinnerWrapper{
  padding: 0rem 1.5rem 1.5rem 1.5rem;
}
h5 {
  font-size: 0.8rem;
  text-align: center;
  color: #7a7a7a;
  line-height: 1.5;
}
.mar {
  margin-top: 2rem;
}
/* index 영역 */
.indeximg {
width: 100%;
object-fit: cover;
min-height: 100vh;
height: 100%;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
footer img {
  display: block;
  width: 4rem;
}

.roundBtn {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #9ac67d;
  font-size: 1.6rem;
  border-radius: 2rem;
  margin: 0 auto;
}


/* 홈영역 */
.backgroundcolorwrapper {
height: 100vh;
background-image: url(../img/background.png);
background-size: 100% 100vh; /* 너비를 100%로 설정 */
background-repeat: no-repeat; /* 이미지 반복 없음 */
}
.backgroundcolorwrapper {
  position: relative;
}
.homebtn {
  display: flex;
  flex-direction: column;
}
.homebtn h3 {
  padding: 0.5rem 1rem;
  background-color: #9ac67d;
  color: #fff;
  border-radius: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
}
.homebtn img {
  width: 70%;
  display: inline-block;
  margin: 0 auto;
}
.btn1 {
  position: absolute;
  top: 13%;
  left: 10%;
  width: 10rem;
}
.btn2 {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 10rem;
}
.btn3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 15rem;
}
.center {
  padding: 0.5rem 1rem;
  background-color: #9ac67d;
  color: #fff;
  border-radius: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.btn3 img {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.btn4 {
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 10rem;
}
.btn5 {
  position: absolute;
  bottom: 13%;
  right: 10%;
  width: 10rem;
}


/* check 영역 */
.sunWrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}
.sun {
  width: 35%;
}
.checkinnerWrapper {
  padding: 2rem 2rem 10rem 2rem;
}
.test_container {
  margin-bottom: 5rem;
}
.test {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.test h2 {
  margin-bottom: 5rem;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
  text-align: center;
}
/* 라디오 버튼 컨테이너 */
.radio_wrap {
  display: flex;
  justify-content: space-between;
}
/* 각 라디오 버튼 아이템 스타일링 */
.radio_wrap li {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.radio_wrap li div {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #878686;
}
/* 라디오 버튼 스타일 */
.radio_wrap .circle1 {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #e2e2e2; 
  border-radius: 50%; 
  cursor: pointer;
  margin-bottom: 1rem;
}
.radio_wrap input[type="radio"]:checked + .circle1 {
  background-color: #75b0ea;
}
.radio_wrap input[type="radio"]:checked {
  color: #000;
}
.radio_wrap .circle2 {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #e2e2e2; 
  border-radius: 50%; 
  cursor: pointer;
  margin-bottom: 1rem;
}
.radio_wrap input[type="radio"]:checked + .circle2 {
  background-color: #8399ea;
}

.radio_wrap .circle3 {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #e2e2e2; 
  border-radius: 50%; 
  cursor: pointer;
  margin-bottom: 1rem;
}
.radio_wrap input[type="radio"]:checked + .circle3 {
  background-color: #b393e5;
}

.radio_wrap .circle4 {
  display: block;
  width: 22px;
  height: 22px;
  background-color: #e2e2e2; 
  border-radius: 50%; 
  cursor: pointer;
  margin-bottom: 1rem;
}
.radio_wrap input[type="radio"]:checked + .circle4 {
  background-color: #f4abb2;
}
.flexdiv {
  display: flex;
  justify-content: center;
}
.submit {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #9ac67d;
  color: #fff;
  border-radius: 3rem;
  font-size: 1.6rem;
  margin: 0 auto;
}


/* result 영역 */
.resultinnerWrapper {
  padding: 20% 2rem 2rem 2rem
}
.resultinnerWrapper span {
  display: inline-block;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.good {
  width: 3.5rem;
  margin-left: 1rem;
  margin-bottom: -0.5rem;
}
.greentext {
  color: #649f3d;
}
.reAmidBtn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.reAmidBtn a {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.reAmidBtn a img {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.grayText {
  font-size: 1.2rem;
  color: #c1c1c1;
}
.olivetext {
  color: #a1a929;
}
.hos {
  font-size: 1.4rem;
}
.hurt {
  width: 100%;
  margin: 3rem 0;
}
.hurt img {
  width: 60%;
  display: block;
  margin: 0 auto;
}
.resultbox {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.resultbox a {
  width: 49%;
  background-color: #9ac67d;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  text-align: center;
  font-weight: 500;
}
.orangetext {
  color: #d19b39;
}
.redtext {
  color: #d75f4b;
}

/* 우울증 증상  */
.symptomInner {
  padding: 5rem 2rem 5rem 2rem;
}
.symptomInner h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.symContent {
  margin-bottom: 3rem;
}
.cuteTitle {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  margin-bottom: 1rem;
  align-items: center;
  font-weight: 600;
}
.cuteTitle img {
  width: 3rem;
  margin-right: 1rem;
}
.symContent pre {
  font-size: 1.6rem;
  line-height: 1.3;
  color: #666666;
}

/* 우우리가낯선 */
.letterInner {
  padding: 2rem;
}
.letterInner img {
  width: 100%;
}
/* 오늘할일 */
.howInner {
  padding: 5rem 2rem 2rem 2rem;
  text-align: center;
}
.howInner div {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3;
}
.howInner span {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}
.howgreen {
  color: #629e3c;
  margin-top: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.howgreen span {
  color: #629e3c;
  font-weight: 600;
  line-height: 1.3;
}
.swiper-wrapper {
  margin-bottom: 1rem;
}
.swiper-slide img {
  width: 100%;
  box-shadow: 0.3rem 0.3rem 0.5rem #f2f2f2;
  border-radius: 1rem;
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명한 검정 배경 */
  z-index: 9999; /* 다른 요소 위에 표시하기 위한 z-index 값 */
  display: none;
}
.modalContent {
  width: 80%;
  z-index: 100;
  background-color: #fff;
  border-radius: 1rem;
  position: fixed;
  padding: 2rem 2rem 4rem 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /
}
.modal .contentImg {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.modal pre {
  font-size: 1.6rem;
  line-height: 1.3;
}
.modalX {
  display: flex;
  justify-content: end;
}
.modalX img {
  width: 2rem;
}

.blackBG {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  position: relative;
  z-index: 99;
}
.footerimg {
  position: relative;
  z-index: 1;
}


/* 응원영역 */
.fightingImg {
  width: 100%;
}
.fighting {
  font-size: 3rem;
  font-weight: 600;
  margin-top: -5rem;
  margin-bottom: 3rem;
}

/* 다른테스트 */
.another h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 25%;
  margin-top: 15%;
}
.another pre {
  font-size: 1.8rem;
  text-align: center;
}
.another img {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}