/* 공통스타일링 */
@font-face {
  font-family: "nanum";
  src: url("./font/NanumSquare_acR.ttf");
}
@font-face {
  font-family: "nanumThin";
  src: url("./font/NanumSquareL.ttf");
}
@font-face {
  font-family: "nanumThick";
  src: url("./font/NanumSquare_acEB.ttf");
}
@font-face {
  font-family: "gmarketBold";
  src: url("./font/GmarketSansTTFBold.ttf");
}
@font-face {
  font-family: "gmarketLight";
  src: url("./font/GmarketSansTTFLight.ttf");
}
@font-face {
  font-family: "gmarketMedium";
  src: url("./font/GmarketSansTTFMedium.ttf");
}

img {
  width: 100%
}

/* index 영역 */
.indexBackgroundImage {
  background: url(../img/index/splash.png);
  background-size: cover;
  position: relative;
  min-height: 100vh;
  }
  .indexText {
  width: 60%;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  }
  .indexImg {
  width: 75%;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  }
  
  .indexBackgroundImage a img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
  }
  
  



/* 홈영역 */
.homeinnerWrapper{
  padding: 0rem 1.5rem 1.5rem 1.5rem;
}
.backgroundcolorwrapper {
margin: 0;
padding: 0;
}
.homeHeader {
display: flex;
align-items: center;
justify-content: center;

}
.homeHeaderimg {
width: 30%;
}
.homeHeaderimg img {
width: 100%;
}

/* content */
.innerWrapper {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  position: relative;
  border-bottom: 0.1rem solid #c59aaa;
}

.contentHeader button {
border: none;
background-color: transparent;
cursor: pointer;
margin-right: 10px;
display: flex;
align-items: center;
}
.contentHeader h1 {
text-align: center;
margin: 0;
font-size: 1.8rem;
font-weight: 500;
}
.contentHeader img {
width: 1rem;
position: absolute;
left: 3%;
}
