.innerWrapper {
  padding: 5%;
}
p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.test {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.test h2 {
  margin-bottom: 5rem;
  font-size: 2rem;
  line-height: 1.2;
}
/* 라디오 버튼 컨테이너 */
.radio_wrap {
  display: flex;
  justify-content: space-between;
}

/* 각 라디오 버튼 아이템 스타일링 */
.radio_wrap li {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
}

/* 라디오 버튼 input 숨김 */
.radio_wrap input[type="radio"] {
  display: none;
}

/* 라디오 버튼 스타일 */
.radio_wrap label {
  display: block;
  width: 30px; /* 라디오 버튼 크기 조절 */
  height: 30px; /* 라디오 버튼 크기 조절 */
  background-color: #fffefe; /* 배경색 설정 */
  border: 2px solid #59bafa; /* 테두리 설정 */
  border-radius: 50%; /* 원형 모양으로 만들기 */
  cursor: pointer;
  margin-bottom: 1rem;
}

/* 선택된 라디오 버튼의 스타일 */
.radio_wrap input[type="radio"]:checked + label {
  background-color: #ffa9de; /* 선택된 경우의 배경색 설정 */
  border-color: #fa59bc; /* 선택된 경우의 테두리 설정 */
  color: #fff; /* 선택된 경우의 텍스트 색상 설정 */
}

.submit {
  display: block;
  padding: 2rem;
  background-color: #ffa9de;
  border: #fa59bc;
  border-radius: 3rem;
  font-size: 2rem;
  margin: 0 auto;
}